@keyframes floating {
  0% {
  transform: translateY(0)
  }
  
  50% {
  transform: translateY(40px)
  }
   
  to {
  transform: translateY(0)
  }
}

.floating {
  animation: floating 3s ease-in-out infinite,entry 1s ease-in-out 1
}

h1 {
  font-size: 100px;
}
